<div="container">
  <h1>Welcome to the GA Camping Store</h1>
  <br/>
    <div class="search">
      <h4>Search: <input ng-model="searchText" type="text"></h4>
    </div>
  <br/>
  <div class="row">
     <table class="table col-md-12" >
       <tr>
         <th>Category</th>
         <th>Description</th>
         <th>Price</th>
         <th>Quantity</th>
         <th>Total</th>
         <th>Action</th>
       </tr>
       <tr ng-repeat="item in inventory | filter:searchText | orderBy:'category' ">
         <td>{{ item.category }}</td>
         <td>{{ item.description }}</td>
         <td ng-class="{ 'on-sale' : item.onSale }">{{ item.price }}</td>
         <td><input type="number" min="0" class="qty" ng-model="item.qty"></td>
         <td>{{ item.qty * item.price | currency }}</td>
         <td><button class="btn btn-success" ng-click="addItem(item);">Add</td>
       </tr>
    </table>
  </div>
  <div class="row">
     <table class="table col-md-9 col-md-offset-3" >
       <tr>
         <th>Your Cart</th>
       </tr>
       <tr>
         <th>Description</th>
         <th>Quantity</th>
         <th>Item Price</th>
         <th>Total</th>
         <th>Action</th>
       </tr>
       <tr ng-repeat="item in cart">
         <td>{{ item.description }}</td>
         <td>{{ item.qty }}</td> 
         <td>{{ item.price }}</td>
         <td>{{ (item.qty * item.price) }}</td>
         <td><button class="btn btn-danger" ng-click="removeItem(item);">X</td>
       </tr>
     </table>
     <table class="table col-md-9 col-md-offset-3" >
      <th>Cart Total = {{ grandTotal() | currency }}</th>
       <tr>
         <td>
           <button class="btn btn-danger" ng-click="clearCart()">Empty Cart</button>
     </table>
  </div>
</div>
